STRINGTABLE
{
  1, "1"
  2, "279"
}
public_logo JPG D:\Delphi\R3\Src\Shop5\rc\public_logo.jpg
m1_left0_hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_left0_hot.bmp
m1_left0 BMP D:\Delphi\R3\Src\Shop5\rc\m1_left0.bmp
m1_left1_hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_left1_hot.bmp
m1_left1 BMP D:\Delphi\R3\Src\Shop5\rc\m1_left1.bmp
m1_left2_hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_left2_hot.bmp
m1_left2 BMP D:\Delphi\R3\Src\Shop5\rc\m1_left2.bmp
m1_left3_hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_left3_hot.bmp
m1_left3 BMP D:\Delphi\R3\Src\Shop5\rc\m1_left3.bmp
m1_left4_hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_left4_hot.bmp
m1_left4 BMP D:\Delphi\R3\Src\Shop5\rc\m1_left4.bmp
m1_left5_hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_left5_hot.bmp
m1_left5 BMP D:\Delphi\R3\Src\Shop5\rc\m1_left5.bmp
m1_left6_hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_left6_hot.bmp
m1_left6 BMP D:\Delphi\R3\Src\Shop5\rc\m1_left6.bmp
m1_left7_hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_left7_hot.bmp
m1_left7 BMP D:\Delphi\R3\Src\Shop5\rc\m1_left7.bmp
m1_bottom_Status_Down BMP D:\Delphi\R3\Src\Shop5\rc\m1_bottom_Status_Down.bmp
m1_bottom_Status BMP D:\Delphi\R3\Src\Shop5\rc\m1_bottom_Status.bmp
m1_bottom_bkg_04 BMP D:\Delphi\R3\Src\Shop5\rc\m1_bottom_bkg_04.bmp
m1_bottom_bkg_03 BMP D:\Delphi\R3\Src\Shop5\rc\m1_bottom_bkg_03.bmp
m1_top_bkg_01 BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_bkg_01.bmp
m1_top_bkg_02 BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_bkg_02.bmp
m1_top_logo JPG D:\Delphi\R3\Src\Shop5\rc\m1_top_logo.jpg
m1_top_toolDesk_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_toolDesk_Up.bmp
m1_top_toolDesk_Hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_toolDesk_Hot.bmp
m1_top_toolDesk_Down BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_toolDesk_Down.bmp
m1_top_toolClose_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_toolClose_Up.bmp
m1_top_toolClose_Hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_toolClose_Hot.bmp
m1_top_sysClose_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_sysClose_Up.bmp
m1_top_sysClose_Hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_sysClose_Hot.bmp
m1_top_RzBmpButton1_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_RzBmpButton1_Up.bmp
m1_top_RzBmpButton1_Hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_RzBmpButton1_Hot.bmp
m1_top_RzBmpButton3_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_RzBmpButton3_Up.bmp
m1_top_RzBmpButton3_Hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_RzBmpButton3_Hot.bmp
m1_top_RzBmpButton4_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_RzBmpButton4_Up.bmp
m1_top_RzBmpButton4_Hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_RzBmpButton4_Hot.bmp
m1_top_MenuSpilt_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_MenuSpilt_Up.bmp
m1_top_MenuSpilt_Down BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_MenuSpilt_Down.bmp
m1_top_sysHelp_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_sysHelp_Up.bmp
m1_top_sysHelp_Hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_sysHelp_Hot.bmp
m1_top_sysMinimized_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_sysMinimized_Up.bmp
m1_top_sysMinimized_Hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_sysMinimized_Hot.bmp
m1_top_sysMaximized_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_sysMaximized_Up.bmp
m1_top_sysMaximized_Hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_top_sysMaximized_Hot.bmp
m1_Basic_bottom_bkg_03 BMP D:\Delphi\R3\Src\Shop5\rc\m1_Basic_bottom_bkg_03.bmp
m1_Basic_bottom_bkg_04 BMP D:\Delphi\R3\Src\Shop5\rc\m1_Basic_bottom_bkg_04.bmp
m1_Basic_top_bkg_01 BMP D:\Delphi\R3\Src\Shop5\rc\m1_Basic_top_bkg_01.bmp
m1_Basic_top_bkg_02 BMP D:\Delphi\R3\Src\Shop5\rc\m1_Basic_top_bkg_02.bmp
m1_Basic_top_formLogo BMP D:\Delphi\R3\Src\Shop5\rc\m1_Basic_top_formLogo.bmp
m1_Basic_top_sysClose_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_Basic_top_sysClose_Up.bmp
m1_Basic_top_sysClose_Hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_Basic_top_sysClose_Hot.bmp
m1_Basic_top_sysMinimized_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_Basic_top_sysMinimized_Up.bmp
m1_Basic_top_sysMinimized_Hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_Basic_top_sysMinimized_Hot.bmp
m1_Basic_top_sysMaximized_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_Basic_top_sysMaximized_Up.bmp
m1_Basic_top_sysMaximized_Hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_Basic_top_sysMaximized_Hot.bmp
m1_list_bottom_RzBmpButton2_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_list_bottom_RzBmpButton2_Up.bmp
m1_list_bottom_bkg_01 BMP D:\Delphi\R3\Src\Shop5\rc\m1_list_bottom_bkg_01.bmp
m1_list_bottom_bkg_02 BMP D:\Delphi\R3\Src\Shop5\rc\m1_list_bottom_bkg_02.bmp
m1_list_mid_bkg_03 BMP D:\Delphi\R3\Src\Shop5\rc\m1_list_mid_bkg_03.bmp
m1_list_mid_bkg_04 BMP D:\Delphi\R3\Src\Shop5\rc\m1_list_mid_bkg_04.bmp
m1_list_mid_bkg_05 BMP D:\Delphi\R3\Src\Shop5\rc\m1_list_mid_bkg_05.bmp
m1_list_mid_bkg_06 BMP D:\Delphi\R3\Src\Shop5\rc\m1_list_mid_bkg_06.bmp
m1_list_mid_RzBmpButton1_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_list_mid_RzBmpButton1_Up.bmp
m1_list_mid_RzBmpButton1_Down BMP D:\Delphi\R3\Src\Shop5\rc\m1_list_mid_RzBmpButton1_Down.bmp
m1_list_mid_toolDesk_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_list_mid_toolDesk_Up.bmp
m1_list_mid_toolDesk_Down BMP D:\Delphi\R3\Src\Shop5\rc\m1_list_mid_toolDesk_Down.bmp
m1_list_top_Image2 BMP D:\Delphi\R3\Src\Shop5\rc\m1_list_top_Image2.bmp
m1_list_top_UsersStatus_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_list_top_UsersStatus_Up.bmp
m1_list_top_UsersStatus_Down BMP D:\Delphi\R3\Src\Shop5\rc\m1_list_top_UsersStatus_Down.bmp
m1_dialog_top_Image2 BMP D:\Delphi\R3\Src\Shop5\rc\m1_dialog_top_Image2.bmp
m1_dialog_mid_toolDesk_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_dialog_mid_toolDesk_Up.bmp
m1_dialog_mid_toolDesk_Hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_dialog_mid_toolDesk_Hot.bmp
m1_dialog_bottom_cxBtnOk_Up BMP D:\Delphi\R3\Src\Shop5\rc\m1_dialog_bottom_cxBtnOk_Up.bmp
m1_dialog_bottom_cxBtnOk_Hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_dialog_bottom_cxBtnOk_Hot.bmp
m1_login_top_login BMP D:\Delphi\R3\Src\Shop5\rc\m1_login_top_login.bmp
m1_login_mid_image2 BMP D:\Delphi\R3\Src\Shop5\rc\m1_login_mid_image2.bmp
m1_login_bottom_image3 BMP D:\Delphi\R3\Src\Shop5\rc\m1_login_bottom_image3.bmp
m1_login_bottom_bkg_03 BMP D:\Delphi\R3\Src\Shop5\rc\m1_login_bottom_bkg_03.bmp
m1_login_bottom_bkg_04 BMP D:\Delphi\R3\Src\Shop5\rc\m1_login_bottom_bkg_04.bmp