STRINGTABLE
{
  1, "1"
  2, "279"
}
m1_left0_hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_left0_hot.bmp
m1_left0 BMP D:\Delphi\R3\Src\Shop5\rc\m1_left0.bmp
m1_left1_hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_left1_hot.bmp
m1_left1 BMP D:\Delphi\R3\Src\Shop5\rc\m1_left1.bmp
m1_left2_hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_left2_hot.bmp
m1_left2 BMP D:\Delphi\R3\Src\Shop5\rc\m1_left2.bmp
m1_left3_hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_left3_hot.bmp
m1_left3 BMP D:\Delphi\R3\Src\Shop5\rc\m1_left3.bmp
m1_left4_hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_left4_hot.bmp
m1_left4 BMP D:\Delphi\R3\Src\Shop5\rc\m1_left4.bmp
m1_left5_hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_left5_hot.bmp
m1_left5 BMP D:\Delphi\R3\Src\Shop5\rc\m1_left5.bmp
m1_left6_hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_left6_hot.bmp
m1_left6 BMP D:\Delphi\R3\Src\Shop5\rc\m1_left6.bmp
m1_left7_hot BMP D:\Delphi\R3\Src\Shop5\rc\m1_left7_hot.bmp
m1_left7 BMP D:\Delphi\R3\Src\Shop5\rc\m1_left7.bmp