STRINGTABLE
{
  1, "1"
  2, "279"
}
public_logo JPG D:\Delphi\R3\Src\Shop5\rc\public_logo.jpg
s1_prg JPG D:\Delphi\R3\Src\Shop5\rc\s1_prg.jpg
s1_c1_btn BMP D:\Delphi\R3\Src\Shop5\rc\s1_c1_btn.bmp
s1_c1_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_c1_btn_hot.bmp
s1_c2_btn BMP D:\Delphi\R3\Src\Shop5\rc\s1_c2_btn.bmp
s1_c2_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_c2_btn_hot.bmp
s1_db_btn BMP D:\Delphi\R3\Src\Shop5\rc\s1_db_btn.bmp
s1_db_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_db_btn_hot.bmp
s1_desk_bg JPG D:\Delphi\R3\Src\Shop5\rc\s1_desk_bg.jpg
s1_desktop BMP D:\Delphi\R3\Src\Shop5\rc\s1_desktop.bmp
s1_desktop_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_desktop_hot.bmp
s1_down BMP D:\Delphi\R3\Src\Shop5\rc\s1_down.bmp
s1_down_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_down_hot.bmp
s1_exit BMP D:\Delphi\R3\Src\Shop5\rc\s1_exit.bmp
s1_exit_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_exit_hot.bmp
s1_foot_1 JPG D:\Delphi\R3\Src\Shop5\rc\s1_foot_1.jpg
s1_foot_2 JPG D:\Delphi\R3\Src\Shop5\rc\s1_foot_2.jpg
s1_foot_3 JPG D:\Delphi\R3\Src\Shop5\rc\s1_foot_3.jpg
s1_foot_4 JPG D:\Delphi\R3\Src\Shop5\rc\s1_foot_4.jpg
s1_foot_bg JPG D:\Delphi\R3\Src\Shop5\rc\s1_foot_bg.jpg
s1_group_01 BMP D:\Delphi\R3\Src\Shop5\rc\s1_group_01.bmp
s1_group_02 BMP D:\Delphi\R3\Src\Shop5\rc\s1_group_02.bmp
s1_help BMP D:\Delphi\R3\Src\Shop5\rc\s1_help.bmp
s1_help_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_help_hot.bmp
s1_home BMP D:\Delphi\R3\Src\Shop5\rc\s1_home.bmp
s1_home_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_home_hot.bmp
s1_logo_bg JPG D:\Delphi\R3\Src\Shop5\rc\s1_logo_bg.jpg
s1_logo_lt JPG D:\Delphi\R3\Src\Shop5\rc\s1_logo_lt.jpg
s1_logo_r1 JPG D:\Delphi\R3\Src\Shop5\rc\s1_logo_r1.jpg
s1_logo_r2 JPG D:\Delphi\R3\Src\Shop5\rc\s1_logo_r2.jpg
s1_logo_r3 JPG D:\Delphi\R3\Src\Shop5\rc\s1_logo_r3.jpg
s1_logo_r4 JPG D:\Delphi\R3\Src\Shop5\rc\s1_logo_r4.jpg
s1_logout BMP D:\Delphi\R3\Src\Shop5\rc\s1_logout.bmp
s1_logout_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_logout_hot.bmp
s1_menu_title JPG D:\Delphi\R3\Src\Shop5\rc\s1_menu_title.jpg
s1_page_bg JPG D:\Delphi\R3\Src\Shop5\rc\s1_page_bg.jpg
s1_page1 BMP D:\Delphi\R3\Src\Shop5\rc\s1_page1.bmp
s1_page1_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_page1_hot.bmp
s1_page2 BMP D:\Delphi\R3\Src\Shop5\rc\s1_page2.bmp
s1_page2_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_page2_hot.bmp
s1_page3 BMP D:\Delphi\R3\Src\Shop5\rc\s1_page3.bmp
s1_page3_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_page3_hot.bmp
s1_page4 BMP D:\Delphi\R3\Src\Shop5\rc\s1_page4.bmp
s1_page4_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_page4_hot.bmp
s1_page9 BMP D:\Delphi\R3\Src\Shop5\rc\s1_page9.bmp
s1_page9_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_page9_hot.bmp
s1_password BMP D:\Delphi\R3\Src\Shop5\rc\s1_password.bmp
s1_password_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_password_hot.bmp
s1_pos_btn BMP D:\Delphi\R3\Src\Shop5\rc\s1_pos_btn.bmp
s1_pos_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_pos_btn_hot.bmp
s1_sale_btn BMP D:\Delphi\R3\Src\Shop5\rc\s1_sale_btn.bmp
s1_sale_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_sale_btn_hot.bmp
s1_sfd_btn BMP D:\Delphi\R3\Src\Shop5\rc\s1_sfd_btn.bmp
s1_sfd_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_sfd_btn_hot.bmp
s1_slr_btn BMP D:\Delphi\R3\Src\Shop5\rc\s1_slr_btn.bmp
s1_slr_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_slr_btn_hot.bmp
s1_split JPG D:\Delphi\R3\Src\Shop5\rc\s1_split.jpg
s1_stk_btn BMP D:\Delphi\R3\Src\Shop5\rc\s1_stk_btn.bmp
s1_stk_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_stk_btn_hot.bmp
s1_str_btn BMP D:\Delphi\R3\Src\Shop5\rc\s1_str_btn.bmp
s1_str_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_str_btn_hot.bmp
s1_tool_01 JPG D:\Delphi\R3\Src\Shop5\rc\s1_tool_01.jpg
s1_tool_02 JPG D:\Delphi\R3\Src\Shop5\rc\s1_tool_02.jpg
s1_tool_03 JPG D:\Delphi\R3\Src\Shop5\rc\s1_tool_03.jpg
s1_tool_04 JPG D:\Delphi\R3\Src\Shop5\rc\s1_tool_04.jpg
s1_tool_05 JPG D:\Delphi\R3\Src\Shop5\rc\s1_tool_05.jpg
s1_toolbutton BMP D:\Delphi\R3\Src\Shop5\rc\s1_toolbutton.bmp
s1_toolbutton_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_toolbutton_hot.bmp
s1_upload BMP D:\Delphi\R3\Src\Shop5\rc\s1_upload.bmp
s1_upload_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_upload_hot.bmp
s1_xsm BMP D:\Delphi\R3\Src\Shop5\rc\s1_xsm.bmp
s1_xsm_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_xsm_hot.bmp
s1_fit BMP D:\Delphi\R3\Src\Shop5\rc\s1_fit.bmp
s1_fit_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_fit_hot.bmp
s1_message BMP D:\Delphi\R3\Src\Shop5\rc\s1_message.bmp
s1_message_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_message_hot.bmp
s1_question BMP D:\Delphi\R3\Src\Shop5\rc\s1_question.bmp
s1_question_hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_question_hot.bmp
s1_NewsPaperReader_Top BMP D:\Delphi\R3\Src\Shop5\rc\s1_NewsPaperReader_Top.bmp
s1_NewsPaperReader_Mid2 BMP D:\Delphi\R3\Src\Shop5\rc\s1_NewsPaperReader_Mid2.bmp
s1_NewsPaperReader_Mid3 BMP D:\Delphi\R3\Src\Shop5\rc\s1_NewsPaperReader_Mid3.bmp
s1_NewsPaperReader_Mid1_Up BMP D:\Delphi\R3\Src\Shop5\rc\s1_NewsPaperReader_Mid1_Up.bmp
s1_NewsPaperReader_Mid1_Down BMP D:\Delphi\R3\Src\Shop5\rc\s1_NewsPaperReader_Mid1_Down.bmp
s1_NewsPaperReader_Mid1_Hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_NewsPaperReader_Mid1_Hot.bmp
s1_NewsPaperReader_Mid4_Up BMP D:\Delphi\R3\Src\Shop5\rc\s1_NewsPaperReader_Mid4_Up.bmp
s1_NewsPaperReader_Mid4_Down BMP D:\Delphi\R3\Src\Shop5\rc\s1_NewsPaperReader_Mid4_Down.bmp
s1_NewsPaperReader_Mid4_Hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_NewsPaperReader_Mid4_Hot.bmp
s1_NewsPaperReader_Return BMP D:\Delphi\R3\Src\Shop5\rc\s1_NewsPaperReader_Return.bmp
s1_NewsPaperReader_Read BMP D:\Delphi\R3\Src\Shop5\rc\s1_NewsPaperReader_Read.bmp
s1_NewsPaperReader_Bottom_Close_Up BMP D:\Delphi\R3\Src\Shop5\rc\s1_NewsPaperReader_Bottom_Close_Up.bmp
s1_NewsPaperReader_Bottom_Close_Hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_NewsPaperReader_Bottom_Close_Hot.bmp
s1_HintMsg_Top BMP D:\Delphi\R3\Src\Shop5\rc\s1_HintMsg_Top.bmp
s1_HintMsg_Top_Close_Down BMP D:\Delphi\R3\Src\Shop5\rc\s1_HintMsg_Top_Close_Down.bmp
s1_HintMsg_Top_Close_Up BMP D:\Delphi\R3\Src\Shop5\rc\s1_HintMsg_Top_Close_Up.bmp
s1_HintMsg_Bottom_Look_Down BMP D:\Delphi\R3\Src\Shop5\rc\s1_HintMsg_Bottom_Look_Down.bmp
s1_HintMsg_Bottom_Look_Up BMP D:\Delphi\R3\Src\Shop5\rc\s1_HintMsg_Bottom_Look_Up.bmp
s1_HintMsg_Bottom_Line BMP D:\Delphi\R3\Src\Shop5\rc\s1_HintMsg_Bottom_Line.bmp
s1_Questionnaire_Left_Previous_Hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_Questionnaire_Left_Previous_Hot.bmp
s1_Questionnaire_Left_Previous_Up BMP D:\Delphi\R3\Src\Shop5\rc\s1_Questionnaire_Left_Previous_Up.bmp
s1_Questionnaire_Left_Next_Up BMP D:\Delphi\R3\Src\Shop5\rc\s1_Questionnaire_Left_Next_Up.bmp
s1_Questionnaire_Left_Next_Hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_Questionnaire_Left_Next_Hot.bmp
s1_Questionnaire_Left_Commit_Up BMP D:\Delphi\R3\Src\Shop5\rc\s1_Questionnaire_Left_Commit_Up.bmp
s1_Questionnaire_Left_Commit_Hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_Questionnaire_Left_Commit_Hot.bmp
s1_Questionnaire_Left_Answer_Up BMP D:\Delphi\R3\Src\Shop5\rc\s1_Questionnaire_Left_Answer_Up.bmp
s1_Questionnaire_Left_Answer_Hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_Questionnaire_Left_Answer_Hot.bmp
s1_Questionnaire_Left_Return_Up BMP D:\Delphi\R3\Src\Shop5\rc\s1_Questionnaire_Left_Return_Up.bmp
s1_Questionnaire_Left_Return_Hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_Questionnaire_Left_Return_Hot.bmp
s1_Questionnaire_Left_Look_Up BMP D:\Delphi\R3\Src\Shop5\rc\s1_Questionnaire_Left_Look_Up.bmp
s1_Questionnaire_Left_Look_Hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_Questionnaire_Left_Look_Hot.bmp
s1_Login_Top JPG D:\Delphi\R3\Src\Shop5\rc\s1_Login_Top.jpg
s1_InitGuide_Top1 JPG D:\Delphi\R3\Src\Shop5\rc\s1_InitGuide_Top1.jpg
s1_InitGuide_Top2 BMP D:\Delphi\R3\Src\Shop5\rc\s1_InitGuide_Top2.bmp
s1_InitGuide_Bottom_Start_Up BMP D:\Delphi\R3\Src\Shop5\rc\s1_InitGuide_Bottom_Start_Up.bmp
s1_InitGuide_Bottom_Start_Hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_InitGuide_Bottom_Start_Hot.bmp
s1_InitGuide_Bottom_Prev_Up BMP D:\Delphi\R3\Src\Shop5\rc\s1_InitGuide_Bottom_Prev_Up.bmp
s1_InitGuide_Bottom_Prev_Hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_InitGuide_Bottom_Prev_Hot.bmp
s1_InitGuide_Bottom_Next_Up BMP D:\Delphi\R3\Src\Shop5\rc\s1_InitGuide_Bottom_Next_Up.bmp
s1_InitGuide_Bottom_Next_Hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_InitGuide_Bottom_Next_Hot.bmp
s1_InitGuide_Bottom_End_Up BMP D:\Delphi\R3\Src\Shop5\rc\s1_InitGuide_Bottom_End_Up.bmp
s1_InitGuide_Bottom_End_Hot BMP D:\Delphi\R3\Src\Shop5\rc\s1_InitGuide_Bottom_End_Hot.bmp