STRINGTABLE
{
  1, "2"
  2, "279"
}
s2_c1_btn BMP D:\Delphi\R3\Src\Shop5\rc\s2_c1_btn.bmp
s2_c1_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_c1_btn_hot.bmp
s2_c2_btn BMP D:\Delphi\R3\Src\Shop5\rc\s2_c2_btn.bmp
s2_c2_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_c2_btn_hot.bmp
s2_db_btn BMP D:\Delphi\R3\Src\Shop5\rc\s2_db_btn.bmp
s2_db_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_db_btn_hot.bmp
s2_desk_bg JPG D:\Delphi\R3\Src\Shop5\rc\s2_desk_bg.jpg
s2_desktop BMP D:\Delphi\R3\Src\Shop5\rc\s2_desktop.bmp
s2_desktop_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_desktop_hot.bmp
s2_down BMP D:\Delphi\R3\Src\Shop5\rc\s2_down.bmp
s2_down_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_down_hot.bmp
s2_exit BMP D:\Delphi\R3\Src\Shop5\rc\s2_exit.bmp
s2_exit_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_exit_hot.bmp
s2_foot_1 JPG D:\Delphi\R3\Src\Shop5\rc\s2_foot_1.jpg
s2_foot_2 JPG D:\Delphi\R3\Src\Shop5\rc\s2_foot_2.jpg
s2_foot_3 JPG D:\Delphi\R3\Src\Shop5\rc\s2_foot_3.jpg
s2_foot_4 JPG D:\Delphi\R3\Src\Shop5\rc\s2_foot_4.jpg
s2_foot_bg JPG D:\Delphi\R3\Src\Shop5\rc\s2_foot_bg.jpg
s2_group_01 BMP D:\Delphi\R3\Src\Shop5\rc\s2_group_01.bmp
s2_group_02 BMP D:\Delphi\R3\Src\Shop5\rc\s2_group_02.bmp
s2_help BMP D:\Delphi\R3\Src\Shop5\rc\s2_help.bmp
s2_help_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_help_hot.bmp
s2_home BMP D:\Delphi\R3\Src\Shop5\rc\s2_home.bmp
s2_home_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_home_hot.bmp
s2_logo_bg JPG D:\Delphi\R3\Src\Shop5\rc\s2_logo_bg.jpg
s2_logo_lt JPG D:\Delphi\R3\Src\Shop5\rc\s2_logo_lt.jpg
s2_logo_r1 JPG D:\Delphi\R3\Src\Shop5\rc\s2_logo_r1.jpg
s2_logo_r2 JPG D:\Delphi\R3\Src\Shop5\rc\s2_logo_r2.jpg
s2_logo_r3 JPG D:\Delphi\R3\Src\Shop5\rc\s2_logo_r3.jpg
s2_logo_r4 JPG D:\Delphi\R3\Src\Shop5\rc\s2_logo_r4.jpg
s2_logout BMP D:\Delphi\R3\Src\Shop5\rc\s2_logout.bmp
s2_logout_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_logout_hot.bmp
s2_menu_title JPG D:\Delphi\R3\Src\Shop5\rc\s2_menu_title.jpg
s2_page_bg JPG D:\Delphi\R3\Src\Shop5\rc\s2_page_bg.jpg
s2_page1 BMP D:\Delphi\R3\Src\Shop5\rc\s2_page1.bmp
s2_page1_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_page1_hot.bmp
s2_page2 BMP D:\Delphi\R3\Src\Shop5\rc\s2_page2.bmp
s2_page2_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_page2_hot.bmp
s2_page3 BMP D:\Delphi\R3\Src\Shop5\rc\s2_page3.bmp
s2_page3_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_page3_hot.bmp
s2_page4 BMP D:\Delphi\R3\Src\Shop5\rc\s2_page4.bmp
s2_page4_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_page4_hot.bmp
s2_page9 BMP D:\Delphi\R3\Src\Shop5\rc\s2_page9.bmp
s2_page9_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_page9_hot.bmp
s2_password BMP D:\Delphi\R3\Src\Shop5\rc\s2_password.bmp
s2_password_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_password_hot.bmp
s2_pos_btn BMP D:\Delphi\R3\Src\Shop5\rc\s2_pos_btn.bmp
s2_pos_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_pos_btn_hot.bmp
s2_sale_btn BMP D:\Delphi\R3\Src\Shop5\rc\s2_sale_btn.bmp
s2_sale_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_sale_btn_hot.bmp
s2_sfd_btn BMP D:\Delphi\R3\Src\Shop5\rc\s2_sfd_btn.bmp
s2_sfd_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_sfd_btn_hot.bmp
s2_slr_btn BMP D:\Delphi\R3\Src\Shop5\rc\s2_slr_btn.bmp
s2_slr_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_slr_btn_hot.bmp
s2_split JPG D:\Delphi\R3\Src\Shop5\rc\s2_split.jpg
s2_stk_btn BMP D:\Delphi\R3\Src\Shop5\rc\s2_stk_btn.bmp
s2_stk_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_stk_btn_hot.bmp
s2_str_btn BMP D:\Delphi\R3\Src\Shop5\rc\s2_str_btn.bmp
s2_str_btn_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_str_btn_hot.bmp
s2_tool_01 JPG D:\Delphi\R3\Src\Shop5\rc\s2_tool_01.jpg
s2_tool_02 JPG D:\Delphi\R3\Src\Shop5\rc\s2_tool_02.jpg
s2_tool_03 JPG D:\Delphi\R3\Src\Shop5\rc\s2_tool_03.jpg
s2_tool_04 JPG D:\Delphi\R3\Src\Shop5\rc\s2_tool_04.jpg
s2_tool_05 JPG D:\Delphi\R3\Src\Shop5\rc\s2_tool_05.jpg
s2_toolbutton BMP D:\Delphi\R3\Src\Shop5\rc\s2_toolbutton.bmp
s2_toolbutton_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_toolbutton_hot.bmp
s2_upload BMP D:\Delphi\R3\Src\Shop5\rc\s2_upload.bmp
s2_upload_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_upload_hot.bmp
s2_xsm BMP D:\Delphi\R3\Src\Shop5\rc\s2_xsm.bmp
s2_xsm_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_xsm_hot.bmp
s2_message BMP D:\Delphi\R3\Src\Shop5\rc\s2_message.bmp
s2_message_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_message_hot.bmp
s2_question BMP D:\Delphi\R3\Src\Shop5\rc\s2_question.bmp
s2_question_hot BMP D:\Delphi\R3\Src\Shop5\rc\s2_question_hot.bmp
