@charset "utf-8";

/* CSS Document */
body,div,address,blockquote,iframe,ul,ol,dl,dt,dd,li,dl,h1,h2,h3,h4,h5,h6,p,pre,table,caption,th,td,form,legend,fieldset,input,button,select,textarea
	{
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	font-family: inherit;
}

ol,ul,li {
	list-style: none;
}

img {
	border: 0;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.loginFont1 {
	font-size: 16px;
	font-family: "\5B8B\4F53", "SimSun";
	font-weight: bold;
	color: #444444;
}

.loginFont2 {
	font-size: 14px;
	font-family: "\5B8B\4F53", "SimSun";
	color: #555555;
	font-weight: bold;
}

.loginFont3 {
	font-size: 12px;
	font-family: "\5B8B\4F53", "SimSun";
	color: #555555;
}

#xsm {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	background: url(../images/indexBg.jpg) no-repeat center top;
}

#xsm #xsmIndex {
	padding: 10px 0 50px 0;
	width: 960px;
	overflow: hidden;
	margin: 0 auto;
}

#xsm #xsmIndex .title {
	height: 45px;
	line-height: 45px;
	width: 930px;
	overflow: hidden;
	vertical-align: middle;
	margin: 0 auto;
	background-color: #01A7A7;
	padding-left: 30px;
	font-size: 22px;
	font-family: "\5B8B\4F53", "SimSun";
	color: #ffffff;
	font-weight: bold;
}

#xsm #xsmIndex .userInfo {
	width: 170px;
	font-size: 16px;
	font-family: "\5B8B\4F53", "SimSun";
	color: #ffffff;
	line-height: 45px;
	vertical-align: middle;
	text-align: right;
	background: url(../images/userHead.png) 180px center no-repeat;
	float: right;
	padding-right: 50px;
}

#xsm #xsmIndex .content {
	width: 960px;
	overflow: hidden;
}

#xsm #xsmIndex .friendLinks {
	width: 960px;
	overflow: hidden;
	margin: 0 auto;
	background-color: #1E2223;
	padding: 5px 0;
}

#xsm #xsmIndex .friendLinks .dt {
	width: 100px;
	padding-left: 15px;
	overflow: hidden;
	line-height: 20px;
	vertical-align: middle;
	font-size: 14px;
	font-family: "\5B8B\4F53", "SimSun";
	color: #ffffff;
	font-weight: bold;
	letter-spacing: 1px;
	float: left;
}

#xsm #xsmIndex .friendLinks .dd {
	line-height: 20px;
	width: 840px;
	float: left;
	overflow: hidden;
	font-size: 12px;
	font-family: "\5B8B\4F53", "SimSun";
	color: #ffffff;
	letter-spacing: 1px;
	font-weight: bold;
	height: 20px;
}

#xsm #xsmIndex .friendLinks .dd li {
	float: left;
	padding: 0 10px;
	overflow: hidden;
}

#xsm #xsmIndex .friendLinks .dd li a {
	color: #ffffff;
}

/*tab*/
.xsm_Menubox {
	height: 30px;
	line-height: 30px;
	position: relative;
	vertical-align: middle;
}

.xsm_Menubox ul {
	list-style: none;
	position: absolute;
	top: 2px;
	left: 0;
	height: 28px;
	text-align: center;
	width: 960px;
}

.xsm_Menubox li.link {
	float: left;
	display: block;
	cursor: pointer;
	color: #ffffff;
	font-family: "\5B8B\4F53", "SimSun";
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	letter-spacing: 1px;
	font-weight: bold;
	background-color: #293031;
	width: 110px;
	text-align: center;
}

.xsm_Menubox li.hover {
	float: left;
	display: block;
	cursor: pointer;
	color: #1E2223;
	font-family: "\5B8B\4F53", "SimSun";
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	letter-spacing: 1px;
	font-weight: bold;
	width: 110px;
	text-align: center;
}

.xsm_Menubox li.first {
	width: 35px !important;
}

.xsm_Menubox li.last {
	width: 484px !important;
}

.xsm_Contentbox {
	width: 960px;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 35px;
}

.xsm_Contentbox .left {
	width: 22px;
	overflow: hidden;
	float: left;
	padding-top: 180px;
}

.xsm_Contentbox .right {
	width: 22px;
	overflow: hidden;
	float: left;
	padding-top: 180px;
}

.xsm_Contentbox .middle {
	width: 913px;
	overflow: hidden;
	float: left;
}

.xsm_Contentbox li {
	float: left;
	margin: 10px 0 0 8px;
	overflow: hidden;
	height: 130px;
	width: 220px;
}