@charset "utf-8";
a { color:#505050; }
a:hover { color:#0B67AC; }
body {height:100%; color:#505050;}
.main{ background:url(../images/main_bg.jpg) repeat-x; height:650px;}

/*左边主页面样式*/
.left_table{min-width:500px; margin-left:10px; width:95%;}
.myapp_title{margin:15px 5px 2px 0px;  clear:both;}
.myapp_ico{ float:left;background:url(../images/app_bg.png) repeat-x; height:242px;}
.myapp_ico div { width:60px;float:left; margin:15px 10px 30px 10px; text-align:center; font-size:14px;}
.myapp_ico div img{ width:55px; height:55px; margin:0px 0px 5px 0px;}
.move{ margin:35px 10px 10px 0px;clear:both; min-height:100px;}
.link_title{ margin-top:22px; clear:both; margin-bottom:10px; margin-right:0px;}
.link_box{background:url(../images/link_bg.png) repeat-x; height:77px;}
.link_left{width:100%; height:77px; margin:0px;}
.link_right{height:77px; margin-right:0px;}
.link_text{ float:left;text-align:center; margin:10px 15px 0px 15px;}
.link_box a{ color:#505050; margin:15px 5px 10px 5px; font-size:14px;line-height:30px; text-align:center; font-weight:lighter;}
/*左边报表样式*/
.right_table{min-width:273px; margin-left:0px; margin-right:10px;}
.message{ width:273px; clear: both;}
.message_title{ clear:both; margin-top:15px;}
.total{ width:273px; height:269px; margin-top:5px; background:url(../images/tx_pic.png) no-repeat;}
.tab_total1{ float:left; margin-left:10px; margin-top:5px;}
.tab_total2{ float:right; margin-right:10px;margin-top:5px;}
.total_pic{ clear:both; padding:5px 5px 5px 5px; position:static;}
.total_bar{ margin-top:10px;}
.total_text{ font-size:14px; margin-left:10px; margin-top:2px; }
.total_table{ font-size:12px; border:1px solid #95999B; text-align:center; width:100%; margin-top:10px;}
.total_talbe tr td{ border:1px solid #95999B; height:22px; line-height:22px;}
.col{ border:1px solid #95999B; height:22px; line-height:25px;}

/*图片跑马灯效果*/
#demo {background: #FFF;overflow:hidden;border: 0px dashed #CCC;width:100%;}
#demo img {border: 0px solid #F2F2F2;}
#indemo {float: left;width: 800%;}
#demo1 {float: left;}
#demo2 {float: left;}

/*无图片的圆角框*/
.holder2 {color:#000;}

.b1 {height:1px; font-size:1px; overflow:hidden; display:block; background:#aaa; margin:0 5px;}
.b2 {height:1px; font-size:1px; overflow:hidden; display:block; background:#fff; border-right:2px solid #aaa; border-left:2px solid #aaa; margin:0 3px;}
.b3 {height:1px; font-size:1px; overflow:hidden; display:block; background:#fff; border-right:1px solid #aaa; border-left:1px solid #aaa; margin:0 2px;}
.b4 {height:2px; font-size:1px; overflow:hidden; display:block; background:#fff; border-right:1px solid #aaa; border-left:1px solid #aaa; margin:0 1px;}
