@charset "utf-8";

/* CSS Document */
body,div,address,blockquote,iframe,ul,ol,dl,dt,dd,li,dl,h1,h2,h3,h4,h5,h6,p,pre,table,caption,th,td,form,legend,fieldset,input,button,select,textarea
	{
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	font-family: inherit;
}

ol,ul,li {
	list-style: none;
}

img {
	border: 0;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.FontTitle {
	font-size: 17px;
	font-family: "\9ED1\4F53 ", "SimHei";
	color: #424040;
}

.FontUserName {
	font-size: 17px;
	font-family: "\9ED1\4F53 ", "SimHei";
	color: #424040;
}

.FontPassword {
	font-size: 17px;
	font-family: "\9ED1\4F53 ", "SimHei";
	color: #424040;
}

.FontCheckBox {
	font-size: 14px;
	font-family: "\9ED1\4F53 ", "SimHei";
	color: #555555;
}

#main {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	background-color: #FFF;
}

#main #mainLogin {
	width: 960px;
	overflow: hidden;
	margin: 0 auto;
}

#main #mainLogin .title {
	height: 45px;
	line-height: 45px;
	width: 930px;
	overflow: hidden;
	vertical-align: middle;
	margin: 0 auto;
	background-color: #01A7A7;
	padding-left: 30px;
	font-size: 20px;
	font-family: "Microsoft YaHei";
	color: #ffffff;
	font-weight: bold;
}

#main #mainLogin .content {
	width: 960px;
	overflow: hidden;
	background: url(../images/contentBg.jpg) no-repeat center top;
	padding: 45px 20px 60px 0;
}

#main #mainLogin .content .login {
	width: 300px;
	height: 320px;
	overflow: hidden;
	background: url(../images/loginBg.png) no-repeat center center;
	float: right;
}

#main #mainLogin .content .login	.loginTitle {
	height: 35px;
	width: 300px;
	text-align: center;
	line-height: 45px;
	vertical-align: middle;
	letter-spacing: 1px;
}

#main #mainLogin .content .login	.loginContent {
	letter-spacing: 1px;
	line-height: 35px;
	padding: 15px 0 30px 25px;
	overflow: hidden;
}

#main #mainLogin .content .login	.loginContent .input {
	display: block;
	width: 230px;
	height: 23px;
	line-height: 23px;
	vertical-align: middle;
	padding: 0 5px;
	font-size: 14px;
	font-family: "\9ED1\4F53 ", "SimHei";
	color: #555555;
}