@charset "utf-8";

/* CSS Document */
body,div,address,blockquote,iframe,ul,ol,dl,dt,dd,li,dl,h1,h2,h3,h4,h5,h6,p,pre,table,caption,th,td,form,legend,fieldset,input,button,select,textarea
	{
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	font-family: inherit;
}

ol,ul,li {
	list-style: none;
}

img {
	border: 0;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.loginFont1 {
	font-size: 17px;
	font-family: "\9ED1\4F53 ", "SimHei";
	color: #424040;
}

.loginFont2 {
	font-size: 14px;
	font-family: "\5B8B\4F53", "SimSun";
	color: #555555;
	font-weight: bold;
}

.loginFont3 {
	font-size: 14px;
	font-family: "\9ED1\4F53 ", "SimHei";
	color: #555555;
}

#xsm {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	background-color: #FFF;
}

#xsm #xsmLogin {
	width: 960px;
	overflow: hidden;
	margin: 0 auto;
}

#xsm #xsmLogin .title {
	height: 45px;
	line-height: 45px;
	width: 930px;
	overflow: hidden;
	vertical-align: middle;
	margin: 0 auto;
	background-color: #01A7A7;
	padding-left: 30px;
	font-size: 20px;
	font-family: "Microsoft YaHei";
	color: #ffffff;
	font-weight: bold;
}

#xsm #xsmLogin .content {
	width: 960px;
	overflow: hidden;
	background: url(../images/contentBg.jpg) no-repeat center top;
	padding: 45px 20px 60px 0;
}

#xsm #xsmLogin .content .login {
	width: 300px;
	height: 320px;
	overflow: hidden;
	background: url(../images/loginBg.png) no-repeat center center;
	float: right;
}

#xsmLogin .content .login	.lTitle {
	height: 35px;
	width: 300px;
	text-align: center;
	line-height: 45px;
	vertical-align: middle;
	letter-spacing: 1px;
}

#xsmLogin .content .login	.lCon {
	letter-spacing: 1px;
	line-height: 35px;
	padding: 15px 0 30px 25px;
	overflow: hidden;
}

#xsmLogin .content .login	.lCon .input {
	display: block;
	width: 230px;
	height: 23px;
	line-height: 23px;
	vertical-align: middle;
	padding: 0 5px;
	font-size: 14px;
	font-family: "\9ED1\4F53 ", "SimHei";
	color: #555555;
}

#xsm #xsmLogin .friendLinks {
	width: 960px;
	overflow: hidden;
	margin: 0 auto;
	background-color: #1E2223;
	padding: 5px 0;
}

#xsm #xsmLogin .friendLinks .dt {
	width: 100px;
	padding-left: 15px;
	overflow: hidden;
	line-height: 40px;
	vertical-align: middle;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	color: #ffffff;
	font-weight: bold;
	letter-spacing: 1px;
	float: left;
}

#xsm #xsmLogin .friendLinks .dd {
	line-height: 20px;
	width: 840px;
	float: left;
	overflow: hidden;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	color: #ffffff;
	letter-spacing: 1px;
	font-weight: bold;
}

#xsm #xsmLogin .friendLinks .dd li {
	float: left;
	padding: 0 10px;
	overflow: hidden;
}

#xsm #xsmLogin .friendLinks .dd li a {
	color: #ffffff;
}